@{
  Layout = "_Layout";
}

<h1>Princess Peach Memorial Animal Shelter!</h1>
<h3>Rest in peace, sweet princess. Good luck on your journey across the rainbow bridge.</h3>
<p>@Html.ActionLink("View The Animals", "Index", "Animal")</p> 